<p id="notice"><%= notice %></p>

<div class="row">
    <div class="col l6">
        <%= image_tag @content.cover.url, class: "responsive-img show-img" %>
        <p>
          <strong>Venduto da:</strong>
          <%= @content.user.name %>
        </p>

        <%if @content.user == current_user%>
          <%= link_to 'Modifica', edit_content_path(@content) %> |
        <%end%>
        <%= link_to 'Indietro', contents_path %>

    </div>
    
    <div class="col l6">
        <h1 class="show-titolo"><strong><%= @content.titolo %></strong></h1>

        <br>

        <p>
          <%= @content.descrizione %>
        </p>

        <br>

        <h4 class="show-prezzo"><strong>Prezzo: </strong><%= number_to_currency(@content.price) %></h4>
    </div>
</div>


