
<div class="row">
    <div class="col l6">
        <%= image_tag @content.cover.url, class: "responsive-img show-img" %>
        <p>
          <strong>Venduto da:</strong>
          <%= @content.user.name %>
        </p>

        <%if @content.user == current_user%>
          <%= link_to 'Modifica', edit_content_path(@content) %> |
        <%end%>
        <%= link_to 'Indietro', contents_path %>

    </div>
    
    <div class="col l6">
        <h1 class="show-titolo"><strong><%= @content.titolo %></strong></h1>

        <br>

        <p>
          <%= @content.descrizione %>
        </p>

        <br>

        <h4 class="show-prezzo"><strong>Prezzo: </strong><%= number_to_currency(@content.price) %></h4>
      

      <% if current_user %>

        <%= form_tag compra_path(slug: @content.slug) do %>
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                  data-description="<%= @content.titolo %>"
                  data-amount="<%= (@content.price * 100).floor %>"
                  data-name="ViShop"
                  data-currency="eur"
                  data-locale="auto">
          </script>
        <% end %>

        <%else%>
        <p>Fai <%= link_to "Log in", new_user_session_path %> 
        o <%= link_to "Registrati", new_user_registration_path %> 
        per acquistare questo articolo</p>
        <%end%>

    </div>
</div>


