<div class="row">
  <div class="col l6 offset-l3">
          <h4 class="center">Cambia password</h4>
          <br>

          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>
            <br>

            <div class="actions">
        <%= f.submit "Nuova password", class: "waves-effect waves-light btn btn-devise #ff5722 deep-orange" %>
            </div>
          <% end %>
          <br>

          Torna al <%= link_to "Log in", new_session_path(resource_name) %>
  </div>
</div>
