<h4 class="center">La tua Dashboard</h4>

<div class="row">
    <div class="col s12 tabella">
      <ul class="tabs">
        <li class="tab col s3"><a href="#test1">Storico</a></li>
        <li class="tab col s3"><a href="#vendita">In vendita</a></li>
      </ul>
    </div>
    <div id="test1" class="col s12">

      <h6><b>VENDITE</b></h6>
   <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Prezzo</th>
                <th>Data di vendita</th>
                <th>Acquirente</th>
              </tr>
        </thead>
        <tbody>
            <% @sales.each do |sale| %>
              <tr>
                  <th><%= sale.content.titolo %></th>
                  <th><%= number_to_currency(sale.amount / 100) %></th>
                  <th><%= time_ago_in_words(sale.created_at) %> fa</th>
                  <th><%= sale.email_acquirente %></th>
                </tr>
            <%end%>
        </tbody>      
  </table>
<br>
  <h6><b>ACQUISTI</b></h6>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Prezzo</th>
                <th>Data di creazione</th>
                <th>Venditore</th>
              </tr>
        </thead>
      <tbody>
        <% @purchased.each do |purchased| %>
          <tr>
              <th><%= link_to purchased.content.titolo, pickup_path(purchased.guide) %></th>
              <th><%= number_to_currency(purchased.amount / 100) %></th>
              <th><%= time_ago_in_words(purchased.created_at) %> fa</th>
              <th><%= purchased.email_venditore %></th>
              </th>
            </tr>
        <%end%>
      </tbody>      
   </table>

    
    </div>

    <div id="vendita" class="col s12">
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Prezzo</th>
                    <th>Data di creazione</th>
                    <th>Azioni</th>
                 </tr>
            </thead>
            <tbody>
              <% @content.each do |content| %>
                <tr>
                    <th><%= link_to content.titolo, content_path(content) %></th>
                    <th><%= number_to_currency(content.price)%></th>
                    <th><%= time_ago_in_words(content.created_at) %> fa</th>
                    <th><%= link_to "Modifica", edit_content_path(content) %> | 
                        <%= link_to "Elimina", content, method: :delete, data: {confirm: 'sei sicuro di eliminare il contenuto?'}%>
                    </th>
                 </tr>
              <%end%>
            </tbody>      
          
        </table>
    </div>
</div>

<script>
$(document).ready(function(){
    $('ul.tabs').tabs();
  });
</script>

<script>
  $(".dropdown-trigger").dropdown();
</script>